
<div class="vision">
    <div class="hero-section">
        <div class="background-image"></div>
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1>{{"OurVision&Mission"|translate}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mx-auto text-center vision-mission">
                    <h2 class="texth2">{{"VisionStatement"|translate}}</h2>
                    <p>{{ "VisionTra"|translate }}</p>
                    <h2 class="texth2">{{"MissionStatement"|translate}}</h2>
                    <p>{{ "MissionTra"|translate }}</p>
                </div>
            </div>
        </div>
    </div>

</div>

