<!-- src/app/testimonials-partnerships/testimonials-partnerships.component.html -->
<div class="container vision">
  <section class="section">
    <h2 class="section-title">{{"WhatOurCustomersSay"|translate}}</h2>
    <div class="testimonials">
      <div class="testimonial">
        <p class="testimonial-text">{{"teat1"|translate}}</p>
        <p class="customer-name">— Customer Name</p>
      </div>
      <div class="testimonial">
        <p class="testimonial-text">{{"teat2"|translate}}</p>
        <p class="customer-name">— Visitor Name</p>
      </div>
    </div>
  </section>

  <section class="section">
    <h2 class="section-title">{{"ourPartnerships" |translate}}</h2>
    <div class="partnerships">
      <p>{{"partner"|translate}}</p>
    </div>
  </section>
</div>
